.banner {
  height: 56vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.banner:before {
  content: "";
  background: linear-gradient(to bottom, transparent, black);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}

.banner-text-area {
  width: 40rem;
  display: flex;
  flex-direction: column;
}
.banner-text-area > h1 {
  font-size: 3rem;
  font-weight: 900;
}
.banner-text-area > p {
  font-size: 1.2rem;
}
.banner-text-area > * {
  z-index: 3;
}
